*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   color: #0b2130;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
.logo-content{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* position: sticky;
    top: 0px; */
    
}

.logo-mainline{
    color: rgb(39, 39, 133);
    text-shadow: rgb(97, 97, 209) 2px 2px 6px;
}
.logo-subline{
    color: dimgrey;
    font-family: cursive;
    font-size: 0.8rem;
}
            

.nav-bar{
    
    background-image: url(./Images/nav-background.jpg);
    background-position: center;
    flex-flow: row;
    background-size: cover;
    flex-grow: wrap;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    border: 1px cornflowerblue outset; 
    position: sticky;
    top: 0px;
}
.logo-img img{
    border-radius: 10px;
    width: 80px;
}
.icon{
    color: whitesmoke;
    margin: 0px 10px;
}

   


/* product sample start */
.our_products{
    text-align: center;
    color: #09446b;
    font-style: inherit;
    font-size: 1.2rem;
}
/* product sample ends */


/* slide container */
.slide-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slide-img img{
    width: 100% ;
    height: auto;
}
.img-container{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: .9rem;
}
.single-img img{
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
    
}

.single-img .steel-rod{
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    border: 1px solid rgb(60, 71, 94);
}

.single-img .jelly{
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    border: 1px solid rgb(60, 71, 94);
}
.How-do-we-help{
    padding: 10px;
    border: 2px  cornflowerblue solid;
    text-align: center;
    margin: 10px 0px;
    color: rgb(88, 84, 126);
    width: 100%;
    border-radius: 0px 10px;
    text-shadow: darkblue 0px 1px 15px ;
}

.Help-you {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px blue outset;
    margin: 5px;
    background-image: url(./Images/nav-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.quality-assured {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    height: 20vh;
}
.quality-assured img{
    border: coral 1px outset;
    width: 100%;
    border-radius: 20%;

}
.pass{
    font-size: 0.7rem;
    width:100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    
    
}

/* --------Privicy and Policy ---------*/

.Privacy_policy{
    border: 2px gray outset;
}
.informative{
    border: 0px gray inset;
    background-color: rgba(199, 198, 198, 0.685);

   
}